<div class="container">
  <div class="row justify content-center col-6 pm">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Mexican History from 1519-1940</h2>
          <p>Resources and what I've produced</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row col-6">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>English History in North America</h2>
          <p>Resources and what I've produced</p>
        </div>
      </div>
    </div>
  </div>
</div>
